

ul{
    height: 100px;
    background-color: burlywood;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
li{
   
    padding-left:60px;
    float:left;
    margin-top:40px; 
    font-size:20px;
}
#AboutCAFFE{
    text-align: center;
}
#flower{
    width: 600px;
    height: 400px;
/*    display: inline-block;*/
/*    float: left;*/
}
p{
    width: 50%;
    float: right;
/*    display: inline-block;*/
}
#hello{
    display: inline-block;
}
/*
#AboutContent{
    height: 500px;
    width: auto;
    
}
#subContent1{
    width: 45%;
    height: 500px;
    background-color: rebeccapurple;
    display:inline-block;
    
}
#subContent2{
    width: 45%;
    height: 500px;
    background-color:green;
    display:inline-block;
}
*/
